<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level (%file:%line\)	%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework">
		<level value="info" />
	</logger>

	<logger name="org.apache.cxf.interceptor">
		<level value="error" />
	</logger>
	
	<logger name="xyz.mirak">
		<level value="${xyz.mirak-level:-{$root-level:-debug}}" />
	</logger>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>